@model IEnumerable<ApiANEPC.Models.encomenda>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.entregue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.equipa.equipa_nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.entregue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.equipa.equipa_nome)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idencomenda }) |
            @Html.ActionLink("Details", "Details", new { id=item.idencomenda }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idencomenda })
        </td>
    </tr>
}

</table>
