@model ApiANEPC.Models.equipa

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>equipa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.equipa_nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.equipa_nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cidade.cidade_nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cidade.cidade_nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idequipa }) |
    @Html.ActionLink("Back to List", "Index")
</p>
